.form-container {
    background: linear-gradient(to bottom, #89aacc, rgb(237,238,240) 50%);
    min-height: 100vh;
}

.container {
    margin: 0px 100px;
}

.form-title {
    color: #1b376f;
    font-size: 35px;
    font-weight: bold;
    padding: 25px 0px;
}

.room-container {
    min-height: 80vh;
    box-shadow: -15px 53px 68px -9px rgba(0, 0, 0, 0, 0.75);
    border-radius: 10px;
    background-color: #fff;
    display: flex;
}

.menu-line {
    background-color: #324e88;
    min-height: 80vh;
    border-radius: 10px 0px 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.menu {
    margin: 0;
    padding: 0;
}

.menu-item {
    display: block;
    color: #fff;
    background: #324e88;
    list-style: none;
    font-weight: 600;
    padding: 15px 30px;
    border-bottom: 1px solid #fff;
    transition: color 0.2s linear;
}

.menu-item:hover {
    background-color: #1b376f;
}

.first-item {
    border-top-left-radius: 10px;
}

.exit {
    width: 180px;
    margin-bottom: 20px;
    font-size: 16px;
}

.content {
    padding: 15px 30px;
    flex: 1;
}

.mat-mdc-list-item-icon {
    color: rgba(0, 0, 0, 0.54);
    text-decoration: none;
}

.item-doc {
    color: black;
    text-decoration: none;
    transition: color 0.2s linear;
}

.item-doc:hover {
    color: #89aacc;
}

.content-title {
    font-size: 20px;
    font-weight: 600;
}

.margin-form-field{
    margin-right: 20px;
    width: 300px;
    padding-top: 10px;
}

.form-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.button-form {
    padding: 20px 30px;
    margin-left: 20px;
    font-size: 16px;
    opacity: .7;
}

.link {
    color: #365ca8;
    cursor: pointer;
    margin-bottom: 10px;
    list-style: none;
}

.link:hover {
    text-decoration: underline;
}

.links {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.passwordsMatch {
    color:#ff3636;
    font-size: 12px;
    margin-top: -20px;
}

.menu-phone {
    height: 60px;
    background-color: #324e88;
    border-radius: 10px 10px 0px 0px;
    display: none;
    justify-content: space-between;
    align-items: center;
}

.button-menu {
    width: 40px;
    margin: 10px;
}

.exit-phone {
    width: 180px;
    margin: 10px;
    font-size: 16px;
}

.disp {
    display: none;
}

.menu-line-ph {
    background-color: #324e88;
    text-align: center;
}

.line-panel {
    display: flex;
}

.item-panel {
    text-align: center;
    border: 2px solid #89aacc;
    border-radius: 25px;
    margin: 10px;
    flex: 1;
    padding: 10px;
    color: #1b376f;
}

.item-value {
    font-weight: 600;
    color: #324e88;
    font-size: 20px;
    margin-top: 10px;
}

.circle-icon {
    background-color: #42a5f5; 
    border-radius: 50%;
    height: 20px; 
    width: 20px; 
    margin-right: 5px;
    vertical-align:bottom;
}

.status {
    margin-right: 15px;
}

.line-title {
    display: flex;
    justify-content: space-between;
}


@media (max-width: 1300px){
    .line-title {
        display: inline;
    }

    .header-panel{
        min-height: 70px;
    }

    .status{
        margin-top: 5px;
    }
}

@media (max-width: 1100px){
    .line-panel {
        display: inline;
    }
}

@media (max-width: 1000px) {
    .container {
        margin: 0px 50px;
    }
}

@media (max-width: 910px) {
    .menu-phone {
        display: flex;
    }

    .room-container {
        border-radius: 0px 0px 10px 10px;
    }

    .menu-line {
        display: none;
    }

    .content {
        text-align: center;
    }
}

@media (max-width: 680px) {
    .form-line {
        display: block;
    }

    .content-title {
        padding-bottom: 20px;
    }    

    .margin-form-field{
        margin-right: 0px;
    }

    .button-form {
        padding: 20px;
        margin-left: 10px;
    }

    .form-title {
        font-size: 25px;
        padding: 15px 0px;
    }

    .header-panel{
        min-height: 100px;
    }
}

@media (max-width: 500px) {
    .container {
        margin: 0px 20px;
    }

    .content {
        padding: 15px 10px;
    }

    .exit-phone {
        width: 100px;
    }
}

@media (max-width: 390px) {
    .margin-form-field{
        width: 200px;
        font-size: 13px;
    }

    .header-panel {
        font-size: 14px;
    }

    .item-panel {
        font-size: 14px;
    }

    .item-value {
        font-size: 18px;
    }
}

@media (max-width: 310px) {
    .container {
        margin: 0px 10px;
    }

    .button-form {
        margin-bottom: 10px;
    }
}