<div class="content">
  <mat-stepper orientation="vertical" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup" *ngFor="let person of insuranceRequest.insuredPersons">
        <div *ngIf="person.isMainInsuredPerson">
          <ng-template matStepLabel>Наименование банка</ng-template>
            <div>
              <mat-form-field appearance="fill" class="margin-form-field">
                <mat-label>Выберите банк</mat-label>
                <mat-select [(value)]="selectedBank" [(ngModel)]="insuranceRequest.bankName" [errorStateMatcher]="createErrorStateMatcher('InsuranceRequest.BankName')"
                  [ngModelOptions]="{standalone: true}" [disabled]="insuranceRequest.insuranceStatus.isDisabledForms">
                  <mat-option *ngFor="let bank of banks" [value]="bank">
                    {{bank}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup" *ngFor="let person of insuranceRequest.insuredPersons" >
        <div  *ngIf="person.isMainInsuredPerson">
          <ng-template matStepLabel>Данные карты</ng-template>

          <div>
            <mat-form-field appearance="fill" class="margin-form-field">
              <mat-label>Введите номер карты</mat-label>
              <input type="text" maxlength="16" pattern="[0-9]{16}" [errorStateMatcher]="createErrorStateMatcher('InsuranceRequest.CardAccount')"
                [(ngModel)]="insuranceRequest.cardAccount" [ngModelOptions]="{standalone: true}"   matInput placeholder="1234123412341234" required [disabled]="insuranceRequest.insuranceStatus.isDisabledForms">
            </mat-form-field>

            <mat-form-field appearance="fill" class="margin-form-field">
              <mat-label>Введите срок действия карты</mat-label>
              <input type="text" maxlength="5" pattern="[0-9]{2}/[0-9]{2}" [errorStateMatcher]="createErrorStateMatcher('InsuranceRequest.CardPeriod')" [(ngModel)]="insuranceRequest.cardPeriod" [ngModelOptions]="{standalone: true}"   matInput placeholder="12/25" required [disabled]="insuranceRequest.insuranceStatus.isDisabledForms">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="fill" class="margin-form-field">
              <mat-label>Введите код безопасности карты</mat-label>
              <input type="text" maxlength="3" pattern="[0-9]{3}" [errorStateMatcher]="createErrorStateMatcher('InsuranceRequest.CardCode')" [(ngModel)]="insuranceRequest.cardCode" [ngModelOptions]="{standalone: true}"   matInput placeholder="123" required [disabled]="insuranceRequest.insuranceStatus.isDisabledForms">
            </mat-form-field>
          </div>
        </div>
      </form>
    </mat-step>
  </mat-stepper>
</div>
