.header {
    background: #324e88;
    height: 90px;
    position: relative; 
}

.header-title {
    color:#fff;
    font-size: 30px;
    text-align: center;
    padding: 25px 0px;
}

.survey-container {
    display: flex;
}

.menu-line {
    background-color: #89aacc;
    min-height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.menu {
    margin: 0;
    padding: 0;
}

.menu-item {
    display: block;
    color: #fff;
    background: #89aacc;
    list-style: none;
    font-weight: 600;
    padding: 15px 30px;
    min-width: 170px;
    border-bottom: 1px solid #fff;
    transition: color 0.2s linear;
}

.menu-item:hover {
    background-color: #638bb4;
}

.exit {
    width: 180px;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 16px;
}

.editor-title {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 20px;
}

.editor-container {
    padding: 15px 30px;
    flex: 1;
}

.button-add {
    width: 40px;
    margin-right: 10px;
}

.button-add:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}

.container-question {
    border: 2px solid #92a2c3;
    box-shadow: -15px 53px 68px -9px rgba(0, 0, 0, 0, 0.75);
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 20px;
}


.text-question {
    font-weight: 600;
    margin-bottom: 10px;
}

.delete-button{
    margin-right: 5px;
}

.template-select {
    width: 400px;
    padding-bottom: 40px;
    margin-top: 10px;
}

.select {
    display: flex;
    justify-content: center;
}

.line-survey {
    display: flex;
    justify-content: space-between;
}

.line-item {
    display: flex;
    align-items: center;
}

.button-header {
    width: 40px;
    margin-right: 10px;
}

.button-header:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}

.mat-spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Настройте прозрачность здесь */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Установите z-index на достаточно высокое значение, чтобы спиннер был поверх остальных элементов */
  }
  
  /* Стили для самого спиннера */
  .mat-spinner-overlay mat-spinner {
    color: white; /* Настройте цвет спиннера здесь */
  }