<div class="form-authorization">
    <div class="form-container">
      <img class="big-img" src="assets/pictures/auth-big-img.png">
      <form class="form-auth">
        <img class="user-img" src="assets/pictures/user.png">
        <div class="title-form">
          Регистрация сотрудника
        </div>
        <input type="text" name="" placeholder="Фамилия">
        <input type="text" name="" placeholder="Имя">
        <input type="text" name="" placeholder="Персональный код">
        <input type="text" name="" placeholder="Номер телефона">
        <input type="text" name="" placeholder="Почта">
        <input type="password" name="" placeholder="Пароль">
        <input type="submit" name="" value="Зарегистрироваться">
      </form>
    </div>
  </div>