<!-- <div *ngFor="let item of insuranceRequests">
  <mat-divider/>
  
  <mat-list>
    <mat-list-item>
      <span matListItemTitle>{{item.agentId}}</span>
    </mat-list-item>

    <mat-list-item>
      <span matListItemTitle>{{item.dateOfStart | date: 'dd-MM-yyyy' }}</span>
      <span matListItemTitle> - </span>
      <span matListItemTitle>{{item.dateOfEnd | date: 'dd-MM-yyyy' }}</span>
    </mat-list-item>

    <mat-list-item>
      <span matListItemTitle>Title</span>
      Second line
    </mat-list-item>

  </mat-list>

  <mat-divider/>
</div> -->

<div class="custom-table">
  <table mat-table [dataSource]="insuranceRequests" class="mat-elevation-z8">   
    
    <ng-container matColumnDef="name" >
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td  *matCellDef="let element"> 
        {{element.symbol}} 
        <mat-list>
          <mat-list-item>
            <span class="text-font" matListItemTitle>{{element.mainClient.name}} {{element.mainClient.surname}}</span>
          </mat-list-item>
        </mat-list>
      </td>
    </ng-container>

    <ng-container matColumnDef="personalCode">
      <th mat-header-cell *matHeaderCellDef > 
        Personal Code 
      </th>
      <td mat-cell *matCellDef="let element"> 

        <mat-list-item class="text-padding" >
          <span class="text-font" matListItemTitle>{{element.mainClient.personalCode }}</span>
        </mat-list-item>

      </td>
    </ng-container>
  
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> 
        <mat-list>
          <mat-list-item class="text-padding">
            <span class="text-font" matListItemTitle>
              <span class="text-font" matListItemTitle>{{element.dateOfStart | date: 'dd-MM-yyyy' }}</span>
              <span class="text-font" matListItemTitle> - </span><br/>
              <span class="text-font" matListItemTitle>{{element.dateOfEnd | date: 'dd-MM-yyyy' }}</span>
            </span>
          </mat-list-item>
        </mat-list>
        
      </td>
    </ng-container>

    <ng-container matColumnDef="cost">
      <th mat-header-cell *matHeaderCellDef> Cost </th>
      <td mat-cell *matCellDef="let element"> 
        <mat-list>
          <mat-list-item class="text-padding">
            <span class="text-font" matListItemTitle>
              <span class="text-font" matListItemTitle> 10 000$</span>
            </span>
          </mat-list-item>
        </mat-list>
        
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> 
        <span matListItemTitle>
          <label> 
            <mat-icon [style.background-color]="element.insuranceStatus.color" class="circle-icon">
  
            </mat-icon>
            <span class="text-font" matListItemTitle>   {{element.insuranceStatus.status}}</span>
         
          </label>
        </span>
        
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row fxLayout="row" *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  <mat-divider/>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements">
  </mat-paginator>

</div>