<div class="form-authorization">
  <div class="form-container">
    <img class="big-img" src="assets/pictures/auth-big-img.png">
    <form class="form-auth">
      <img class="user-img" src="assets/pictures/user.png">
      <div class="title-form">
        Авторизация
      </div>
      <input type="text" name="" placeholder="Почта" [(ngModel)]="client.email" [ngModelOptions]="{standalone: true}">
      <input type="password" name="" placeholder="Пароль"[(ngModel)]="client.password" [ngModelOptions]="{standalone: true}">
      <input type="submit" name="" value="Войти" (click)="this.login()">
      <a href="#" class="forgot-link">Забыли пароль?</a>
      <a href="#" [routerLink]="['/registration']" class="forgot-link">Регистрация</a>
    </form>
  </div>
</div>