.container {
    margin: 0px 70px;
    opacity: 1;
}

.container-line {
    background: #324e88;
    opacity: .85;
} 

.header {
    background: url(src/assets/pictures/back.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh; 
    /*background-repeat: no-repeat;
    background-size: cover; */
} 

.header-line {
    padding-top: 10px; 
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    margin-right: 40px;
    transition: color 0.2s linear;
}

.menu-item:hover {
    color: #89aacc;
}

.header-line :last-of-type {
    margin-left: auto;
}

.header-down {
    position: relative;
}

.header-title {
    color: #324e88;
    font-size: 110px;
    font-weight: bold;
    text-align: left;
    position: absolute;
    left: 0; 
    margin-top: 90px;
    background-color: #89aacc;
    opacity: 0.85;
    padding: 100px 50px 100px 50px;
    width: 36%;
    font-family: 'Alkatra', cursive;
}

.header-subtitle {
    color: #fff;
    font-size: 35px;
    margin-top: -50px;
    font-family: 'Open Sans', sans-serif; 
}

.text-down {
    color: #fff;
    font-size: 18px;
    margin-top: 60px;
    font-family: 'Open Sans', sans-serif;     
}

.cards-container {
    display: flex;
    justify-content: space-between; 
    margin-top: 20px;
}

.card-info {
    margin-top: 20px;
    font-size: 40px;
    font-weight: 100;
}

.card {
    width: 31%;
    box-shadow: 10px 10px 40px 20px #0000001A;
}

.card-image {
    display: flex;
    justify-content: center;
}

.card-img {
    width: 100px;
    height: auto;
    margin-top: 30px;
}

.card-title {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
}

.card-description {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 30px 40px 30px 40px;
    font-size: 16px;
} 