<div class="header">
  <div class="container-line">
    <div class="container">
      <div class="header-line">

        <div class="menu">
          <a class="menu-item" href="@">ГЛАВНАЯ</a>
          <a class="menu-item" href="@">ГЛАВНАЯ2</a>
          <a class="menu-item" href="@">ГЛАВНАЯ3</a>
          <a class="menu-item" href="@">ГЛАВНАЯ4</a>
        </div>
        <button mat-raised-button>Basic</button>
      </div>
    </div>
  </div>

  <div class="header-down container">
    <div class="header-title">
      Health
      <div class="header-subtitle">
          Страховая компания
      </div>
      <div class="text-down">
        Мы - страховая компания, которая предлагает надежную защиту для вас и ваших близких. С нами ваше будущее в надежных руках!
      </div>
    </div>
  </div>
</div>

<div class="cards">
  <div class="container">
    <div class="card-info">
      Виды страховок
    </div>
    <div class="cards-container">
      <div class="card">
        <div class="card-image">
          <img class="card-img"ы src="assets/pictures/card-image.png">
        </div>
        <div class="card-title">
          Индивидуальная
        </div>
        <div class="card-description">
          С нашей индивидуальной страховкой вы можете быть уверены в том, что получите доступ к высококачественной медицинской помощи и не потеряете финансовую стабильность в случае неожиданных медицинских расходов.
        </div>
      </div>
  
      <div class="card">
        <div class="card-image">
          <img class="card-img" src="assets/pictures/card-image.png">
        </div>
        <div class="card-title">
          Семейная
        </div>
        <div class="card-description">
          Заботьтесь о здоровье всей вашей семьи с нашей семейной страховкой, которая предоставляет комплексную медицинскую защиту для всех ваших близких.
        </div>
      </div>
  
      <div class="card">
        <div class="card-image">
          <img class="card-img" src="assets/pictures/card-image.png">
        </div>
        <div class="card-title">
          Пенсионная
        </div>
        <div class="card-description">
          Обеспечьте свой комфортный и беззаботный отдых на пенсии с нашей пенсионной страховкой, которая защитит ваши финансы и обеспечит вас медицинским обслуживанием в старости.
        </div>
      </div>
    </div>
  </div>
</div>