<div class="header">
  <div class="container-line">
    <div class="container">
      <div class="header-line">

        <div class="menu">
          <a class="menu-item" href="@">ГЛАВНАЯ</a>
          <a class="menu-item" href="@">ГЛАВНАЯ2</a>
          <a class="menu-item" href="@">ГЛАВНАЯ3</a>
          <a class="menu-item" href="@">ГЛАВНАЯ4</a>
        </div>
        <div class="menu-phone">
          <button id="button-menu" (click)="toggleClass()">
            <img class="contact-icon" src="assets/pictures/menu-outline.svg">
          </button>
          <div id="menu-ph" class="menu-slide disp">
            <a class="menu-item block" href="@">ГЛАВНАЯ</a>
            <a class="menu-item block" href="@">ГЛАВНАЯ2</a>
            <a class="menu-item block" href="@">ГЛАВНАЯ3</a>
            <a class="menu-item block" href="@">ГЛАВНАЯ4</a>
          </div>
        </div>
        <div class="white-label">
          <button class="button-enter" [routerLink]="['/login']"><img src="assets/pictures/input.svg" class="img-enter">ВОЙТИ</button>
          <!-- <span [routerLink]="['/login']">Авторизация</span>
          <span>/</span>
          <span [routerLink]="['/registration']">Регистрация</span> -->
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="header-down">
      <div class="header-title">
        Health
        <div class="header-subtitle">
            Страховая компания
        </div>
        <div class="text-down">
          Мы - страховая компания, которая предлагает надежную защиту для вас и ваших близких. С нами ваше будущее в надежных руках!
        </div>
      </div>
    </div>
  </div>
</div>

<div class="info-company">
  <div class="container">
    <div class="title-part">
      О компании
    </div>
    <div class="info-comp-container">
      <div class="info-comp-text">
        Наша страховая компания - это сильная, надежная и ответственная организация, которая предоставляет широкий спектр страховых продуктов и услуг высокого качества для клиентов. Мы ставим нашу задачу в защите наших клиентов от финансовых рисков и обеспечении их максимальной безопасности.
        <br><br>
        Наша команда состоит из высококвалифицированных специалистов, которые обладают профессиональными знаниями и опытом в области страхования. Мы ценим каждого клиента и стремимся предоставить индивидуальный подход к каждому из них. Мы считаем, что лучший способ достижения наших целей - это сотрудничество с клиентом, поэтому мы готовы выслушать каждого и предложить наилучшее решение для каждой конкретной ситуации.
      </div>
      <div class="info-comp-image">
        <img class="info-comp-img" src="assets/pictures/info_company.jpg" >
      </div>
    </div>
  </div>
</div>

<div class="cards">
  <div class="container">
    <div class="title-part">
      Виды страховок
    </div>
    <div class="cards-container">
      <div class="card">
        <div class="card-image">
          <img class="card-img" src="assets/pictures/card-image.png">
        </div>
        <div class="card-title">
          Индивидуальная
        </div>
        <div class="card-description">
          С нашей индивидуальной страховкой вы можете быть уверены в том, что получите доступ к высококачественной медицинской помощи и не потеряете финансовую стабильность в случае неожиданных медицинских расходов.
        </div>
      </div>
  
      <div class="card">
        <div class="card-image">
          <img class="card-img" src="assets/pictures/card-image.png">
        </div>
        <div class="card-title">
          Семейная
        </div>
        <div class="card-description">
          Заботьтесь о здоровье всей вашей семьи с нашей семейной страховкой, которая предоставляет комплексную медицинскую защиту для всех ваших близких.
        </div>
      </div>
  
      <div class="card">
        <div class="card-image">
          <img class="card-img" src="assets/pictures/card-image.png">
        </div>
        <div class="card-title">
          Пенсионная
        </div>
        <div class="card-description">
          Обеспечьте свой комфортный и беззаботный отдых на пенсии с нашей пенсионной страховкой, которая защитит ваши финансы и обеспечит вас медицинским обслуживанием в старости.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="points-insurance">
  <div class="container">
    <div class="title-part">
      Заголовок
    </div>
  </div>
  <div class="points-container">
    <div class="container">
      <ul class="point-icons">
        <li class="point">
          <img class="point-icon" src="assets/pictures/1.svg">
          <div class="point-text">
            Обеспечьте свой комфортный и беззаботный отдых
          </div>
        </li>
        <li class="arrow">
          <img class="point-icon" src="assets/pictures/arrow.svg">
        </li>
        <li class="point">
          <img class="point-icon" src="assets/pictures/2.svg">
          <div class="point-text">
            Обеспечьте свой комфортный и беззаботный отдых
          </div>
        </li>
        <li class="arrow">
          <img class="point-icon" src="assets/pictures/arrow.svg">
        </li>
        <li class="point">
          <img class="point-icon" src="assets/pictures/3.svg">
          <div class="point-text">
            Обеспечьте свой комфортный и беззаботный отдых
          </div>
        </li>
        <li class="arrow">
          <img class="point-icon" src="assets/pictures/arrow.svg">
        </li>
        <li class="point">
          <img class="point-icon" src="assets/pictures/4.svg">
          <div class="point-text">
            Обеспечьте свой комфортный и беззаботный отдых
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="info-documentation">
  <div class="container">
    <div class="title-part">
      Заголовок
    </div>
    <div class="info-doc-container">
      <div class="info-doc-image info-doc-image-first">
        <div class="info-doc-image-top">
          <img class="info-doc-img-top" src="assets/pictures/back.jpg" >
        </div>
        <div class="info-doc-image-bottom">
          <img class="info-doc-img-bottom" src="assets/pictures/back.jpg" >
        </div>
      </div>
      <div class="info-doc-text-right">
        <div class="title-doc">
          Заголовок заголовок
        </div>
        Наша страховая компания - это сильная, надежная и ответственная организация, которая предоставляет широкий спектр страховых продуктов и услуг высокого качества для клиентов. Мы ставим нашу задачу в защите наших клиентов от финансовых рисков и обеспечении их максимальной безопасности.
      </div>
    </div>

    <div class="info-doc-container">
      <div class="info-doc-text-left">
        <div class="title-doc">
          Заголовок заголовок
        </div>
        Наша страховая компания - это сильная, надежная и ответственная организация, которая предоставляет широкий спектр страховых продуктов и услуг высокого качества для клиентов. Мы ставим нашу задачу в защите наших клиентов от финансовых рисков и обеспечении их максимальной безопасности.
      </div>
      <div class="info-doc-image">
        <div class="info-doc-image-top">
          <img class="info-doc-img-top" src="assets/pictures/back.jpg" >
        </div>
        <div class="info-doc-image-bottom">
          <img class="info-doc-img-bottom" src="assets/pictures/back.jpg" >
        </div>
      </div>
    </div>

    <div class="info-doc-container">
      <div class="info-doc-image">
        <div class="info-doc-image-top">
          <img class="info-doc-img-top" src="assets/pictures/back.jpg" >
        </div>
        <div class="info-doc-image-bottom">
          <img class="info-doc-img-bottom" src="assets/pictures/back.jpg" >
        </div>
      </div>
      <div class="info-doc-text-right">
        <div class="title-doc">
          Заголовок заголовок
        </div>
        Наша страховая компания - это сильная, надежная и ответственная организация, которая предоставляет широкий спектр страховых продуктов и услуг высокого качества для клиентов. Мы ставим нашу задачу в защите наших клиентов от финансовых рисков и обеспечении их максимальной безопасности.
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container-footer">
    <div class="waves">
      <div class="wave" id="wave1"></div>
      <div class="wave" id="wave2"></div>
      <div class="wave" id="wave3"></div>
      <div class="wave" id="wave4"></div>
    </div>

    <ul class="social-icons">
      <li class="social-icon">
        <a href="https://vk.com/artem_pralich">
          <img src="assets/pictures/logo-vk.svg">
        </a>
      </li>
      <li class="social-icon">
        <a href="https://instagram.com/natalia__su">
          <img src="assets/pictures/logo-instagram.svg">
        </a>
      </li>
      <li class="social-icon">
        <a href="https://www.linkedin.com/in/артем-пралич-5651831ab/">
          <img src="assets/pictures/logo-linkedin.svg">
        </a>
      </li>
      <li class="social-icon">
        <a href="https://www.facebook.com/profile.php?id=100017268603854&mibextid=ZbWKwL">
          <img src="assets/pictures/logo-facebook.svg">
        </a>
      </li>
    </ul>

    <div class="contact">
      <ul>
        <li class="contact-icons">
          <img class="contact-icon" src="assets/pictures/call-outline.svg">
          +375 (29) 291-70-93
        </li>
        <li class="contact-icons">
          <img class="contact-icon" src="assets/pictures/mail-outline.svg">
          health.company.dyplom@gmail.com
        </li>

      </ul>
    </div>
    <div class="last-str">
      Insurance Company © 2023
    </div>
  </div>
</div>