/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.popup-content{
    padding: 20px;
    width: 600px !important;
}

.popup-label{
    width: 600px !important;
}

.div-right{
    text-align: right;
}