<div class="content">
    <mat-accordion *ngFor="let item of insuranceRequest.insuranceRate.insuranceTypeSurveys">
        <mat-expansion-panel (opened)="panelOpenState = true"
         (closed)="panelOpenState = false" *ngIf="item.insuranceSurvey.isDeactivated == undefined || item.insuranceSurvey.isDeactivated == false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{item.insuranceSurvey.title}}
                </mat-panel-title>
                <!-- <mat-panel-description>
                    Currently I am {{panelOpenState ? 'open' : 'closed'}}
                </mat-panel-description> -->
            </mat-expansion-panel-header>
            <div *ngFor="let question of item.insuranceSurvey.questions">
                <div *ngIf="question.questionType.text=='checkbox'">
                    <div class="container-question">
                        <div class="text-question">{{question.text}}</div>
                        <div>
                            <div *ngFor="let answer of insuranceRequest.answerValues">
                                <div class="example-form" *ngIf="answer.questionId == question.id && item.insuranceSurveyId == answer.insuranceSurveyId">
                                    <span *ngFor="let ans of question.answers">
                                    <mat-checkbox color="primary" class="example-margin" [value]="ans.questionAnswer"
                                    [ngModelOptions]="{standalone: true}" [disabled]="this.insuranceRequest.insuranceStatus.isDisabledForms">
                                    {{ans.questionAnswer}}
                                    </mat-checkbox>
                                    <br/>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="question.questionType.text=='radiobutton'">
                    <div class="container-question">
                        <div class="text-question">{{question.text}}</div>
                        <div>
                            <div>
                                <div *ngFor="let answer of insuranceRequest.answerValues">
                                    <div *ngIf="answer.questionId == question.id && item.insuranceSurveyId == answer.insuranceSurveyId">
                                        <mat-radio-group 
                                            aria-labelledby="example-radio-group-label"
                                            class="example-radio-group" 
                                            [(ngModel)]="answer.value"
                                            [disabled]="this.insuranceRequest.insuranceStatus.isDisabledForms"
                                            [ngModelOptions]="{standalone: true}"> 
                                            <div>
                                                <mat-radio-button class="example-radio-button" *ngFor="let ans of question.answers" [value]="ans.questionAnswer" >
                                                    {{ans.questionAnswer}}
                                                </mat-radio-button>
                                            </div>
                                        </mat-radio-group>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="question.questionType.text=='textarea'">
                    <div class="container-question">
                        
                        <div class="text-question">{{question.text}}</div>
                        <div *ngFor="let answer of insuranceRequest.answerValues">
                            <form class="example-form">                    
                                <mat-form-field class="example-full-width">
                                    <textarea matInput placeholder="Answer"
                                    
                                        [disabled]="this.insuranceRequest.insuranceStatus.isDisabledForms"
                                        [(ngModel)]="answer.value" 
                                        [ngModelOptions]="{standalone: true}"></textarea>
                                </mat-form-field>
                            </form>
                        </div>
                    </div>
                </div>
                <div *ngIf="question.questionType.text=='input'" >
                    <div class="container-question">
                        
                        <div class="text-question">{{question.text}}</div>
                        <div *ngFor="let answer of insuranceRequest.answerValues">
                            <form class="example-form" *ngIf="answer.questionId == question.id && item.insuranceSurveyId == answer.insuranceSurveyId">
                                <mat-form-field class="example-full-width">
                                  <input matInput #message maxlength="256" placeholder="Answer" 
                                  
                                  [disabled]="this.insuranceRequest.insuranceStatus.isDisabledForms"
                                    [(ngModel)]="answer.value" 
                                    [ngModelOptions]="{standalone: true}">
                                </mat-form-field>
                              </form>
                        </div>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>