<p>
    <mat-form-field appearance="fill">
        <mat-label>Favorite food</mat-label>
        <mat-select [(value)]="selected">
        <mat-option *ngFor="let template of templates" [value]="template">
            {{template.title}}
        </mat-option>
        </mat-select>
        
    </mat-form-field>

    <button mat-button (click)="save()">Save</button>
</p>
<div class="ngxEditor__wrapper" *ngIf="editor">
    <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
    <ngx-editor
        [editor]="editor"
        [options]="editorConfig"
        [(ngModel)]="selected.text"
        [disabled]="false"
        [placeholder]="'Type here...'"
    ></ngx-editor>
</div>
