<div class="editor">
    <div class="header">
        <div class="container">
            <div class="header-title">
                Редактор документов
            </div>
        </div>
    </div>

    <div class="container">
        <div class="editor-cont">
            <div class="header-line">
                <div class="line-items">
                    <div class="line-item" *ngIf="!addTemp">
                        <input type="image" src="assets/pictures/add_circle_blue.svg" class="button-header" (click)="addTemplate()">
                        <div>Добавить шаблон документа</div>
                    </div>
        
                    <div class="line-item" *ngIf="!addTemp">
                        <input type="image" src="assets/pictures/delete.svg" class="button-header">
                        <div>Удалить шаблон документа</div>
                    </div>
                </div>
                
                <div>
                    <button *ngIf="addTemp" class="buttons button-back" (click)="backAdd()">Отмена</button>
                    <button class="buttons" (click)="save()">Сохранить</button>
                </div>
            </div>
            <div class="line-choice">
                <div *ngIf="!addTemp">
                    <mat-form-field appearance="fill" class="template-select">
                        <mat-label>Шаблон</mat-label>
                        <mat-select [(ngModel)]="selectedItem" [(value)]="selected">
                        <mat-option *ngFor="let template of templates" [value]="template">
                            {{template.title}}
                        </mat-option>
                        </mat-select>
                        
                    </mat-form-field>
                </div>
    
                <div class="addForm" *ngIf="addTemp">
                    <div>
                        <mat-form-field appearance="fill" class="template-select">
                            <mat-label>Введите наименование шаблона</mat-label>
                            <input matInput placeholder="Наименование" [(ngModel)]="selected.title" required>
                        </mat-form-field>
                    </div>
                </div>

                <div>
                    <mat-form-field *ngIf="selectedItem" appearance="fill" class="template-select">
                        <mat-label>Тип страхового запроса</mat-label>
                        <mat-select [(value)]="selectedInsuranceRate" multiple>
                          <mat-option *ngFor="let rate of insuranceRates" [value]="rate">{{rate.title}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="ngxEditor__wrapper" *ngIf="editor">
                <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
                <ngx-editor
                    [editor]="editor"        
                    [options]="editorConfig"
                    [(ngModel)]="selected.text"
                    [disabled]="false"
                    [placeholder]="'Ввод текста...'"
                ></ngx-editor>
            </div>
        </div>
    </div>
</div>