<div class="form-authorization">
    <div class="form-container">
      <img class="big-img" src="assets/pictures/auth-big-img.png">
      <form class="form-auth">
        <img class="user-img" src="assets/pictures/user.png">
        <div class="title-form">
          Регистрация
        </div>
        <input type="text" name="" placeholder="Имя пользователя">
        <input type="text" name="" placeholder="Почта">
        <input type="password" name="" placeholder="Пароль">
        <input type="password" name="" placeholder="Повторить пароль">
        <input type="submit" name="" value="Зарегистрироваться">
      </form>
    </div>
  </div>