<div class="form-authorization">
    <div class="form-container">
      <img class="big-img" src="assets/pictures/auth-big-img.png">
      <form class="form-auth">
        <img class="user-img" src="assets/pictures/user.png">
        <div class="title-form">
          Регистрация
        </div>
        <input type="text" name=""  [(ngModel)]="client.userName" [ngModelOptions]="{standalone: true}" placeholder="Имя пользователя">
        <input type="text" name=""  [(ngModel)]="client.email" [ngModelOptions]="{standalone: true}" placeholder="Почта">
        <input type="password" name=""  [(ngModel)]="client.password" [ngModelOptions]="{standalone: true}" placeholder="Пароль">
        <input type="password" name=""  [(ngModel)]="client.confirmPassword" [ngModelOptions]="{standalone: true}" placeholder="Повторить пароль">
        <input type="submit" name="" (click)="registration()" value="Зарегистрироваться">
      </form>
    </div>
  </div>