<div class="header">
  <div class="container">
    <div class="header-line">
      <div class="left-items">
        <input type="image" src="assets/pictures/arrow_back.svg" class="button-back" (click)="navigateToUrl()">

        <a class="left-item reference-item">Личный код:  {{insuranceRequest.mainClient.personalCode}}</a>
        <a class="left-item draft-item">
          <mat-icon [style.background-color]="insuranceRequest.insuranceStatus.color" class="circle-icon">
          </mat-icon>{{insuranceRequest.insuranceStatus.status}}</a>
        <a class="left-item">a minute ago</a>
        <a class="left-item" href="aaa">View aaaaa</a>
        <a class="left-item" href="aaa"><img class="img-left-item img-help" src="assets/pictures/help.svg">Help</a>
      </div>

      <div>
        <button class="button-dup"><img class="img-left-item" src="assets/pictures/duplicate.svg">Duplicate</button>
        <button *ngIf="!insuranceRequest.insuranceStatus.isDisabledForms" class="button-sign" (click)="moveToApprove()">Подтвердить</button>
        
        <button class="button-sign" *ngIf="insuranceRequest.insuranceStatus.isDisabledForms && !sign" (click)="moveToErrorState()">Отмена</button>
        <button class="button-sign" *ngIf="insuranceRequest.insuranceStatus.isDisabledForms && !sign" (click)="moveToSign()">Подписать</button>
      </div>
    </div>

    <div class="header-title">
      {{insuranceRequest.mainClient.surname}} {{insuranceRequest.mainClient.name}}
    </div>

    <div class="center-items">
      <a class="center-item">Tel: +375292917093</a>
      <a class="center-item">Email: natasha@gmail.com</a>
      <a class="center-item">{{insuranceRequest.insuranceRate.title}}</a>
      <a class="left-item" href="aaa">Change</a>
    </div>
  </div>
</div>

<mat-tab-group animationDuration="0ms" class="insuranse-part">
  
  <mat-tab label="Информация о клиенте">
    <app-insurance-client-info *ngIf="insuranceRequest" [insuranceRequest]="insuranceRequest" [childProp]="parentProp" >

    </app-insurance-client-info>
  </mat-tab>
  <mat-tab label="Страховые опросы">
    <app-insurance-suraveys *ngIf="insuranceRequest" [insuranceRequest]="insuranceRequest">

    </app-insurance-suraveys>
  </mat-tab>
  <mat-tab label="Застрахованные лица">
    <app-insured-persons *ngIf="insuranceRequest" [insuranceRequest]="insuranceRequest">

    </app-insured-persons>
  </mat-tab>
    
  <mat-tab label="Банковские данные">
    <app-insurance-bank-data *ngIf="insuranceRequest" [insuranceRequest]="insuranceRequest" [childProp]="parentProp">

    </app-insurance-bank-data>
  </mat-tab>

  <mat-tab label="Документы">
    <app-insurance-documents  *ngIf="insuranceRequest" [insuranceRequest]="insuranceRequest">
      
    </app-insurance-documents>
  </mat-tab>
</mat-tab-group>

<button class="save-button" (click)="save()">Сохранить</button>

<button class="documents-button" *ngIf="!insuranceRequest.isReadyDocuments" (click)="documentGeneration()">Сгенерировать документы</button>